@media (max-width: 1150px){
  .index-cover{
    padding-top: 40px;
  }
}

@media (max-width: 950px){
  .index-cover__descr{
    font-size: 21px;
    line-height: 24px;
  }
  .title{
    font-size: 36px;
    line-height: 44px;
  }
}

@media (max-width: 850px){
  .index-cover{
    padding-bottom: 52px;
  }
}

@media (max-width: 768px){
  .index-cover__imgwrapper img{
    animation-duration: 1.5s;
  }
  @keyframes moves {
    0%{
      transform: translateY(10px);
    }
    100%{
      transform: translateY(-10px);
    }
  }
  .index-cover__info{
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
  }
  .index-cover__inner{
    flex-direction: column;
    align-items: center;
  }
  .index-cover__buttons{
    justify-content: center;
  }
  .index-cover{
    padding-bottom: 40px;
  }
  .index-cover__graphic{
    bottom: unset;
    top: 50%;
    right: unset;
    left: 50%;
    transform: translate(-50%, -40%);
    img{
      max-width: unset;
    }
  }
}

@media (max-width: 425px){
  .index-cover__buttons .btn + .btn{
    margin-left: 20px;
  }
}

@media (max-width: 380px){
  .title {
    font-size: 28px;
    line-height: 38px;
  }
  .index-cover__descr{
    font-size: 18px;
    line-height: 21px;
  }
  .index-cover__buttons .btn + .btn{
    margin-left: 15px;
  }
}

// @media (max-width: 1380px){
//   .cataloge__rows{
//     grid-template-columns: repeat(5, 1fr);
//   }
// }

// @media (max-width: 1280px){
//   .cataloge__wrapper--more{
//     .filters{
//       margin-right: 15px;
//     }
//     .cataloge__inner{
//       margin: 0 auto;
//       padding: 0 15px;
//     }
//   }

//   .blockchains{
//     // right: -61px;
//     transform: unset;
//     left: unset;
//     right: 0;
//   }
// }

// @media (max-width: 1250px){
//   // Cataloge

//   .cataloge__rows{
//     grid-template-columns: repeat(4, 1fr);
//     .art:nth-child(5n + 1),
//     .art:nth-child(5n){
//       .art__chars{
//         right: unset;
//         left: 50%;
//         transform: translateX(-50%);
//       }
//       .art__transfericon{
//         margin: -40px auto 0;
//       }
//     }
//     .art:nth-child(4n + 1){
//       .art__chars{
//         left: 20px;
//         transform: unset;
//       }
//       .art__transfericon{
//         margin: -40px auto 0 5px;
//       }
//     }
//     .art:nth-child(4n){
//       .art__chars{
//         right: 20px;
//         left: unset;
//         transform: unset;
//       }
//       .art__transfericon{
//         margin: -40px 5px 0 auto;
//       }
//     }

//     // Fix cards pads
//     .art{
//       &:nth-child(3n + 1),
//       &:nth-child(3n){
//         &:before{
//           left: -12px;
//           width: calc(100% + 60px);
//         }
//       }
//       &:nth-child(4n){
//         &:before{
//           left: -12px;
//           width: calc(100% + 36px);
//         }
//       }
//       &:nth-child(4n + 1){
//         &:before{
//           left: -24px;
//           width: calc(100% + 80px);
//         }
//       }
//     }
//     // Fix cards pads
//   }

//   .header__search-wrapper:not(.header__search-wrapper--less){
//     max-width: 330px;
//   }

//   // Cataloge
// }

// @media (max-width: 1220px){
//   .header__buttons{
//     margin-left: 20px;
//   }
// }

// @media (max-width: 1200px){
//   // Index

//   .live__label{
//     margin-left: -25px;
//   }

//   .live__items{
//     .art:nth-child(7){
//       display: none;
//     }
//     .art:nth-child(6){
//       .art__chars{
//         right: 20px;
//         left: unset;
//         transform: unset;
//       }
//       .art__transfericon{
//         margin: -40px 5px 0 auto;
//       }
//     }
//   }

//   // Index
// }

// @media (max-width: 1170px){
//   // App

//   .header__inner{
//     .header__buttons{
//       margin: 0 15px 0 30px;
//     }
//     .header__search-wrapper{
//       max-width: 100%;
//       margin-left: 30px;
//     }
//   }

//   .header__buttons{
//     .header__wallets{
//       display: none;
//     }
//     *:last-child{
//       margin-left: 0;
//     }
//   } 

//   .header__account{
//     .header__wallets{
//       display: flex;
//     }
//     .header__wallets--less{
//       display: flex;
//       margin-right: 15px;
//       .wallets{
//         right: unset;
//       }
//       .wallets__link{
//         margin-right: 15px;
//       }
//     }
//   }

//   // App
// }

// @media (max-width: 1135px){
//   // Cataloge

//   .cataloge__rows{
//     grid-template-columns: repeat(3, 1fr);
//     column-gap: 18px;
//     row-gap: 60px;
//     .art:nth-child(4n + 1),
//     .art:nth-child(4n){
//       .art__chars{
//         right: unset;
//         left: 50%;
//         transform: translateX(-50%);
//       }
//       .art__transfericon{
//         margin: -40px auto 0;
//       }
//     }
//     .art:nth-child(3n + 1){
//       .art__chars{
//         left: 20px;
//         transform: unset;
//       }
//       .art__transfericon{
//         margin: -40px auto 0 5px;
//       }
//     }
//     .art:nth-child(3n){
//       .art__chars{
//         right: 20px;
//         left: unset;
//         transform: unset;
//       }
//       .art__transfericon{
//         margin: -40px 5px 0 auto;
//       }
//     }

//     // Fix cards pads
//     .art{
//       &:nth-child(2n + 1),
//       &:nth-child(2n){
//         &:before{
//           left: 0;
//           width: calc(100% + 60px);
//         }
//       }
//       &:nth-child(3n){
//         &:before{
//           left: 0;
//           width: calc(100% + 24px);
//         }
//       }
//       &:nth-child(3n + 1){
//         &:before{
//           left: -24px;
//           width: calc(100% + 80px);
//         }
//       }
//     }
//     // Fix cards pads
//   }

//   .cataloge__wrapper--more{
//     .cataloge__inner{
//       .cataloge__rows{
//         grid-template-columns: repeat(5, 1fr);
//         .art:nth-child(6n + 1),
//         .art:nth-child(6n),
//         .art:nth-child(3n + 1),
//         .art:nth-child(3n){
//           .art__chars{
//             right: unset;
//             left: 50%;
//             transform: translateX(-50%);
//           }
//           .art__transfericon{
//             margin: -40px auto 0;
//           }
//         }
//         .art:nth-child(5n + 1){
//           .art__chars{
//             left: 20px;
//             transform: unset;
//           }
//           .art__transfericon{
//             margin: -40px auto 0 5px;
//           }
//         }
//         .art:nth-child(5n){
//           .art__chars{
//             right: 20px;
//             left: unset;
//             transform: unset;
//           }
//           .art__transfericon{
//             margin: -40px 5px 0 auto;
//           }
//         }

//         // Fix cards pads
//         .art{
//           &:before{
//             left: 0;
//           }
//           &:nth-child(4n + 1),
//           &:nth-child(4n){
//             &:before{
//               left: -0px;
//               width: calc(100% + 48px);
//             }
//           }
//           &:nth-child(5n){
//             &:before{
//               left: -6px;
//               width: calc(100% + 30px);
//             }
//           }
//           &:nth-child(5n + 1){
//             &:before{
//               left: -24px;
//               width: calc(100% + 80px);
//             }
//           }
//         }
//         // Fix cards pads
//       }
//     }
//   }

//   // Cataloge

//   // User

//   .user-cover__change{
//     top: 15px;
//     right: 15px;
//   }

//   // User
// }

// @media (max-width: 1100px){
//   // Create

//   .create-modal__inner{
//     padding: 63px 35px 39px;
//   }

//   // Create

//   // Index

//   .live__items{
//     .art:nth-child(6){
//       display: none;
//     }
//     .art:nth-child(5){
//       .art__chars{
//         right: 20px;
//         left: unset;
//         transform: unset;
//       }
//       .art__transfericon{
//         margin: -40px 5px 0 auto;
//       }
//     }
//   }

//   // Index
// }

// @media (max-width: 1080px){
//   // Global

//   .header__inner{
//     .header__buttons{
//       margin: 0 15px 0 30px;
//       .btn--blue:last-child{
//         display: none;
//       }
//     }
//     .header__search-wrapper{
//       max-width: 100%;
//       margin-left: 30px;
//     }
//   }

//   // Global

//   // Cataloge

//   .cataloge__wrapper--more{
//     .cataloge__inner{
//       .cataloge__rows{
//         grid-template-columns: repeat(4, 1fr);
//         .art:nth-child(4n + 1),
//         .art:nth-child(4n){
//           .art__chars{
//             right: unset;
//             left: 50%;
//             transform: translateX(-50%);
//           }
//           .art__transfericon{
//             margin: -40px auto 0;
//           }
//         }
//         .art:nth-child(3n + 1){
//           .art__chars{
//             left: 20px;
//             transform: unset;
//           }
//           .art__transfericon{
//             margin: -40px auto 0 5px;
//           }
//         }
//         .art:nth-child(3n){
//           .art__chars{
//             right: 20px;
//             left: unset;
//             transform: unset;
//           }
//           .art__transfericon{
//             margin: -40px 5px 0 auto;
//           }
//         }

//         // Fix cards pads
//         .art{
//           &:before{
//             left: 0;
//           }
//           &:nth-child(3n + 1),
//           &:nth-child(3n){
//             &:before{
//               left: -0px;
//               width: calc(100% + 48px);
//             }
//           }
//           &:nth-child(4n){
//             &:before{
//               left: -6px;
//               width: calc(100% + 30px);
//             }
//           }
//           &:nth-child(4n + 1){
//             &:before{
//               left: -24px;
//               width: calc(100% + 80px);
//             }
//           }
//         }
//         // Fix cards pads
//       }
//     }
//   }

//   // Cataloge

//   // User

//   .user-filters__inner{
//     align-items: flex-start;
//     flex-direction: column;
//   }

//   .user-filters__inputwrapper{
//     margin-left: 0;
//     margin-top: 15px;
//     max-width: 50%;
//   }

//   // User
// }

// @media (max-width: 1024px){
//   // Global

//   .footer__navigation{
//     margin-left: 26px;
//   }
//   .footer__navigation-list:last-child{
//     margin-left: 10%;
//   }

//   // Global

//   // Cataloge

//   .filters{
//     max-width: 280px;
//     min-width: 280px;
//   }

//   .cataloge__wrapper--more{
//     .filters{
//       margin-left: -230px;
//     }
//   }

//   // Cataloge

//   // Product

//   .profile--product-info{
//     left: 5px;
//   }

//   .product-info{
//     .likes--big{
//       left: 10px;
//     }
//   }

//   .panel__items{
//     grid-template-columns: repeat(5, 1fr);
//     .art:nth-child(6n + 1),
//     .art:nth-child(6n){
//       .art__chars{
//         left: 50%;
//         transform: translateX(-50%);
//         right: unset;
//       }
//       .art__transfericon{
//         margin: -40px auto 0;
//       }
//     }
//     .art:nth-child(5n + 1){
//       .art__chars{
//         left: 20px;
//         transform: unset;
//         right: unset;
//       }
//       .art__transfericon{
//         margin: -40px auto 0 5px;
//       }
//     }
//     .art:nth-child(5n){
//       .art__chars{
//         right: 20px;
//         left: unset;
//         transform: unset;
//       }
//       .art__transfericon{
//         margin: -40px 5px 0 auto;
//       }
//     }
//   }

//   // Product

//   // User

//   .user-connect{
//     margin: 30px 0 60px;
//   }

//   .user-loot__items{
//     grid-template-columns: repeat(3, 1fr);
//     .row__slide:nth-child(4n + 1),
//     .row__slide:nth-child(4n){
//       .art__chars{
//         left: 50%;
//         transform: translateX(-50%);
//         right: unset;
//       }
//       .art__transfericon{
//         margin: -40px auto 0;
//       }
//     }
//     .row__slide:nth-child(3n + 1){
//       .art__chars{
//         left: 20px;
//         transform: unset;
//       }
//       .art__transfericon{
//         margin: -40px auto 0 5px;
//       }
//     }
//     .row__slide:nth-child(3n){
//       .art__chars{
//         right: 20px;
//         left: unset;
//         transform: unset;
//       }
//       .art__transfericon{
//         margin: -40px 5px 0 auto;
//       }
//     }
//   }

//   // User

//   // Create

//   .create-modal__inner{
//     padding: 63px 20px 39px;
//   }

//   // Create
// }

// @media (max-width: 1000px){
//   .header__inner .header__buttons{
//     margin-right: 0;
//     .btn:nth-child(2){
//       display: none;
//     }
//   } 
// }

// @media (max-width: 950px){
//   // Product

//   .product-cover {
//     margin: 30px 0 15px;
//   }
//   .product-info__inner{
//     flex-direction: column;
//     align-items: center;
//     margin-bottom: 30px;
//   }
//   .product-info__videowrapper{
//     margin-right: 0;
//   }
//   .product-info__content{
//     margin-top: 15px;
//     margin-bottom: 0;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     text-align: center;
//     // justify-content: flex-start;
//   }
//   .product-info__buttons{
//     justify-content: flex-start;
//     margin: 0;
//   }
//   .auction{
//     margin-left: 50px;
//   }

//   .product-info__name{
//     margin-bottom: 24px;
//   }
//   .product-info__descr{
//     margin-bottom: 20px;
//   }
//   .product-info__middle{
//     margin-bottom: 30px;
//   }

//   // Product

//   // Create

//   .create-modal{
//     margin: 20px 0 32px;
//   }

//   .create-modal__inner {
//     padding: 30px 20px;
//   }

//   .create-modal__content{
//     margin-right: 50px;
//   }

//   .box-loot__items{
//     grid-template-columns: repeat(5, 1fr);
//   }

//   .create-chars__row{
//     grid-template-columns: minmax(max-content, 200px) 140px 1fr 1fr minmax(30px, 30px);
//   }

//   // Create

//   // User

//   .user-nots__items{
//     padding-right: 10px;
//   }

//   .user-nots__inner{
//     padding: 20px;
//   }
  
//   .user-nots__item{
//     padding: 14px 37px 14px 14px;
//     column-gap: 30px;
//     grid-template-columns: 35px 200px 1fr;
//   }

//   // User
// }

// @media (max-width: 915px){
//   // Index

//   .live__items{
//     .art:nth-child(5){
//       display: none;
//     }
//     .art:nth-child(4){
//       .art__chars{
//         right: 20px;
//         left: unset;
//         transform: unset;
//       }
//       .art__transfericon{
//         margin: -40px 5px 0 auto;
//       }
//     }
//   }

//   // Index
// }


// @media (max-width: 900px){
//   // Global

//   .social__list{
//     justify-content: center;
//   }

//   .footer__inner{
//     flex-direction: column-reverse;
//     align-items: center;
//     padding: 38px 0 28px;
//   }

//   .footer__form{
//     margin-bottom: 15px;
//   }
//   .footer__navigation{
//     margin: 25px 0 30px;
//     width: 100%;
//   }
//   .footer__navigation-list:last-child{
//     margin: unset;
//   }
//   .footer__navigation{
//     margin-left: 0;
//     display: flex;
//     justify-content: space-around;
//   }
//   .header__menu-btn{
//     display: flex;
//   }
//   .header__inner{
//     .header__buttons{
//       display: none;
//     }
//     .header__search-wrapper{
//       margin: 0 20px;
//     }
//     .header__notifications{
//       margin-right: 18px;
//     }
//   }
//   .header--logged{
//     .header__buttons *:last-child{
//       margin-left: 0;
//     }
//   }

//   // Global

//   // Index

//   .cover__imgwrapper{
//     transform: translateX(90px);
//   }

//   // Index

//   // Product

//   .product-cover__imgwrapper{
//     img{
//       min-height: 220px;
//     }
//   }
  
//   .panel__items{
//     grid-template-columns: repeat(4, 1fr);
//     .art:nth-child(5n + 1),
//     .art:nth-child(5n){
//       .art__chars{
//         left: 50%;
//         transform: translateX(-50%);
//         right: unset;
//       }
//       .art__transfericon{
//         margin: -40px auto 0;
//       }
//     }
//     .art:nth-child(4n + 1){
//       .art__chars{
//         left: 20px;
//         transform: unset;
//         right: unset;
//       }
//       .art__transfericon{
//         margin: -40px auto 0 5px;
//       }
//     }
//     .art:nth-child(4n){
//       .art__chars{
//         right: 20px;
//         left: unset;
//         transform: unset;
//       }
//       .art__transfericon{
//         margin: -40px 5px 0 auto;
//       }
//     }
//   }

//   // Product

//   // Cataloge

//   .cataloge__rows{
//     grid-template-columns: repeat(2, 1fr);
//     .art:nth-child(3n + 1),
//     .art:nth-child(3n){
//       .art__chars{
//         right: unset;
//         left: 50%;
//         transform: translateX(-50%);
//       }
//       .art__transfericon{
//         margin: -40px auto 0;
//       }
//     }
//     .art:nth-child(2n + 1){
//       .art__chars{
//         left: 20px;
//         transform: unset;
//       }
//       .art__transfericon{
//         margin: -40px auto 0 5px;
//       }
//     }
//     .art:nth-child(2n){
//       .art__chars{
//         right: 20px;
//         left: unset;
//         transform: unset;
//       }
//       .art__transfericon{
//         margin: -40px 5px 0 auto;
//       }
//     }
//   }

//   .cataloge__wrapper--more{
//     .cataloge__inner{
//       .cataloge__rows{
//         grid-template-columns: repeat(3, 1fr);
//         .art:nth-child(4n + 1),
//         .art:nth-child(4n),
//         .art:nth-child(2n){
//           .art__chars{
//             right: unset;
//             left: 50%;
//             transform: translateX(-50%);
//           }
//           .art__transfericon{
//             margin: -40px auto 0;
//           }
//         }
//         .art:nth-child(3n + 1){
//           .art__chars{
//             left: 20px;
//             transform: unset;
//           }
//           .art__transfericon{
//             margin: -40px auto 0 5px;
//           }
//         }
//         .art:nth-child(3n){
//           .art__chars{
//             right: 20px;
//             left: unset;
//             transform: unset;
//           }
//           .art__transfericon{
//             margin: -40px 5px 0 auto;
//           }
//         }

//         // Fix cards pads
//         .art{
//           &:before{
//             left: 0;
//           }
//           &:nth-child(2n + 1),
//           &:nth-child(2n){
//             &:before{
//               left: -0px;
//               width: calc(100% + 48px);
//             }
//           }
//           &:nth-child(3n){
//             &:before{
//               left: -6px;
//               width: calc(100% + 30px);
//             }
//           }
//           &:nth-child(3n + 1){
//             &:before{
//               left: -24px;
//               width: calc(100% + 80px);
//             }
//           }
//         }
//         // Fix cards pads
//       }
//     }
//   }

//   // Cataloge

//   // Create

//   .create-chars__probability{
//     .slider-target{
//       max-width: 80%;
//     }
//   }

//   .create-chars__row{
//     grid-template-columns: minmax(max-content, 175px) 130px 1fr 150px minmax(30px, 30px);
//   }

//   .create-chars__name{
//     max-width: 175px;
//   }

//   .box-loot__items{
//     grid-template-columns: repeat(4, 1fr);
//     .art,
//     .box-loot__add{
//       height: unset;
//       max-height: unset;
//     }
//     .art:nth-child(5n + 1),
//     .art:nth-child(5n){
//       .art__chars{
//         right: unset;
//         left: 50%;
//         transform: translateX(-50%);
//       }
//       .art__transfericon{
//         margin: -40px auto 0;
//       }
//     }
//     .art:nth-child(4n + 1){
//       .art__chars{
//         left: 20px;
//         transform: unset;
//       }
//       .art__transfericon{
//         margin: -40px auto 0 5px;
//       }
//     }
//     .art:nth-child(4n){
//       .art__chars{
//         right: 20px;
//         left: unset;
//         transform: unset;
//       }
//       .art__transfericon{
//         margin: -40px 5px 0 auto;
//       }
//     }
//   }

//   // Create

//   // User

//   .settings__items{
//     flex-direction: column;
//     align-items: center;
//   }

//   .settings__list{
//     max-width: 600px;
//     text-align: center;
//     & + &{
//       margin-top: 18px;
//     }
//   }

//   .settings__list-item + .settings__list-item {
//     margin-top: 20px;
//   }

//   .settings .label + .label {
//     margin-top: 20px;
//   }

//   .settings__descr{
//     margin: 0 auto 30px;
//     font-size: 20px;
//     line-height: 24px;
//     max-width: 500px;
//   }

//   .user-connect__inner{
//     padding: 80px 20px;
//   }

//   .user-connect__imgwrapper{
//     left: 20px;
//     &--reversed{
//       left: unset;
//       right: 20px;
//     }
//   }

//   .user-connect__graphic{
//     width: 240px;
//     height: 240px;
//   }

//   // User
// }

// @media (max-width: 850px){
//   // User

//   .user-connect__inner{
//     padding: 60px 20px;
//   }

//   .user-connect__title{
//     font-size: 28px;
//     line-height: 32px;
//   }

//   .user-connect__descr{
//     font-size: 19px;
//     line-height: 23px;
//   }

//   .user-connect .btn{
//     padding-left: 40px;
//     padding-right: 40px;
//     height: 70px;
//   }

//   // User

//   // Create

//   .create-modal__info{
//     flex-direction: column;
//     align-items: center;
//   }

//   .create-modal__content{
//     margin-right: 0;
//     max-width: 550px;
//     width: 100%;
//     margin-bottom: 30px;
//   }

//   .create-modal__title{
//     margin-bottom: 32px;
//   }

//   .create-modal__info-inputs .label + .label{
//     margin-top: 20px;
//   }

//   .create-modal__info-inputs:last-child{
//     .label{
//       margin-top: 20px;
//     }
//   }

//   .create-modal__info-inputs,
//   .create-modal__info-fee,
//   .create-modal .choose{
//     margin-bottom: 25px;
//   }

//   .create-chars__row{
//     padding: 16px 20px 17px;
//     &:first-child{
//       padding: 16px 27px 17px 20px;
//     }
//   }

//   // Create
// }

// @media (max-width: 800px){

//   // Cataloge

//   .filters{
//     position: fixed;
//     z-index: 2;
//     height: 100vh;
//     overflow-y: auto;
//     overflow-x: hidden;
//     margin: 0;
//     top: 80px;
//     max-width: unset;
//     width: 100vw;
//   }

//   .cataloge__inner{
//     margin-left: 0;
//     padding: 0 15px;
//     .cataloge__rows{
//       grid-template-columns: repeat(3, 1fr);
//       .art:nth-child(3n + 1),
//       .art:nth-child(3n),
//       .art:nth-child(2n + 1),
//       .art:nth-child(2n){
//         .art__chars{
//           right: unset;
//           left: 50%;
//           transform: translateX(-50%);
//         }
//         .art__transfericon{
//           margin: -40px auto 0;
//         }
//       }
//       .art:nth-child(3n + 1){
//         .art__chars{
//           left: 20px;
//           transform: unset;
//         }
//         .art__transfericon{
//           margin: -40px auto 0 5px;
//         }
//       }
//       .art:nth-child(3n){
//         .art__chars{
//           right: 20px;
//           left: unset;
//           transform: unset;
//         }
//         .art__transfericon{
//           margin: -40px 5px 0 auto;
//         }
//       }
//     }
//   }

//   .cataloge__wrapper--more{
//     .filters{
//       top: 180px;
//       height: 50px;
//       overflow-y: hidden;
//       margin-left: calc((100% - 50px) * -1);
//     }
//   }

//   // Cataloge

//   // User

//   .user-cover__imgwrapper{
//     min-height: 220px;
//   }

//   // User
// }

// @media (max-width: 768px){
//   // Global

//   .header{
//     height: 80px;
//   }
//   .header__inner{
//     .header__account{
//       display: none;
//     }
//     .header__menu-btn{
//       margin-left: 0;
//     }
//   }

//   .header__menu{
//     .blockchains{
//       opacity: 1;
//       pointer-events: all;
//     }
//     .header__account{
//       display: none;
//     }
//     .header__wallets{
//       display: block;
//     }
//     .header__buttons{
//       .header__wallets--less{
//         display: none;
//       }
//     }
//     .wallets{
//       .btn--out{
//         width: 100%;
//       }
//     }
//     .header__menu .social__list{
//       padding-bottom: 15px;
//     }
//   }

//   .header__menu-account{
//     display: flex;
//   }

//   .art:hover{
//     transform: unset;
//   }

//   .art__chars{
//     display: none;
//   }

//   // Global

//   // Index

//   .cover__title{
//     font-size: 30px;
//     line-height: 36px;
//     margin-bottom: 25px;
//   }

//   .row__slide-imgwrapper{
//     height: 270px;
//   }

//   // Index

//   // Create

//   .create__wrapper{
//     padding-bottom: 30px;
//     .btn{
//       margin-bottom: 20px;
//     }
//   }

//   .create__items{
//     flex-wrap: wrap;
//   }

//   .create__item{
//     width: 50%;
//     & + &{
//       margin-left: 0;
//     }
//     &:first-child{
//       margin-right: 20px;
//     }
//     // if cards are 3
//     &:last-child{
//       margin-top: 20px;
//     }
//   }

//   .create-modal__title{
//     margin-bottom: 32px;
//   }

//   .create-modal__chars{
//     white-space: nowrap;
//     overflow-x: scroll;
//     margin-bottom: 30px;
//   }

//   .box-loot{
//     margin-bottom: 25px;
//   }

//   .create-chars__row{
//     grid-template-columns: minmax(max-content, 155px) 130px 1fr 160px minmax(30px, 30px);
//     min-width: 735px;
//   }

//   .create-chars__name{
//     max-width: 155px;
//   }

//   .create-chars__probability .slider-target {
//     max-width: 90%;
//   }

//   .create-modal__info{
//     margin-bottom: 35px;
//   }

//   .box-loot__items{
//     grid-template-columns: repeat(3, 1fr);
//   }

//   // Create

//   // Product

//   .panel__inner{
//     padding: 28px 20px 15px;
//   }
//   .panel__items{
//     grid-template-columns: repeat(3, 1fr);
//     .art:nth-child(n + 7){
//       display: none;
//     }
//   }
//   .panel{
//     &--more{
//       .panel__items{
//         .art:nth-child(n + 7){
//           display: flex;
//         }
//       }
//     }
//     .btn{
//       display: block;
//       margin-top: 15px;
//     }
//   }
//   // product

//   // User

//   .user-cover__profile-username,
//   .user-cover .copy{
//     margin-bottom: 18px;
//   }

//   .user-cover .copy{
//     &__label{
//       top: -13px;
//     }
//   }

//   .user-cover__inner{
//     margin-top: -35px;
//   }

//   .user-info{
//     margin: 10px 0 38px;
//   }

//   .user-cover__profile{
//     padding: 15px 0 13px 90px;
//     .profile--cover{
//       max-width: 117px;
//       left: -47px;
//       .profile__imgwrapper:after{
//         width: 28px;
//         height: 28px;
//       }
//     }
//   }

//   .user-loot__items{
//     grid-template-columns: repeat(2, 1fr);
//     .row__slide:nth-child(n + 5){
//       display: none;
//     }
//     &--more{
//       .row__slide:nth-child(n + 5){
//         display: unset;
//       }
//     }
//   }

//   .user-loot .btn{
//     display: block;
//   }

//   .user-filters__checkboxes-mobileoverflow{
//     overflow: auto;
//     width: 100%;
//   }

//   .user-filters__checkboxes-wrapper{
//     white-space: nowrap;
//   }

//   .user-filters__checkboxes{
//     display: block;
//     .label{
//       display: inline-block;
//     }
//     .label + .label{
//       margin-left: 15px;
//     }
//   }
  
//   .user-filters__inputwrapper{
//     max-width: unset;
//   }

//   .user-cover__socials{
//     height: 32px;
//     top: -45px;
//   }

//   .user-cover__change{
//     top: 10px;
//     right: 10px;
//   }

//   .user-nots__result .user-nots__imgwrapper{
//     margin-right: 16px;
//   }

//   .user-nots__items{
//     overflow-x: auto;
//     padding-right: 0;
//     &::-webkit-scrollbar{
//       width: 6px;
//       height: 6px;
//     }
//     &::-webkit-scrollbar-thumb{
//       height: 6px;
//     }
//   }

//   .user-nots__item{
//     grid-template-columns: 35px 1fr 200px;
//     column-gap: 20px;
//     width: 700px;
//     white-space: nowrap;
//   }

//   .user-nots__index{
//     order: 1;
//   }

//   .user-nots__source{
//     order: 3;
//   }

//   .user-nots__result{
//     order: 2;
//   }

//   // User

//   // Cataloge

//   .cataloge__current,
//   .cataloge__current-filters{
//     max-width: calc(100vw - 30px);
//   }

//   // Cataloge
// }

// @media (max-width: 745px){
//   // Index

//   .live__items{
//     .art:nth-child(4){
//       display: none;
//     }
//     .art:nth-child(3){
//       .art__chars{
//         right: 20px;
//         left: unset;
//         transform: unset;
//       }
//       .art__transfericon{
//         margin: -40px 5px 0 auto;
//       }
//     }
//   }

//   // Index
// }

// @media (max-width: 700px){
//   // User

//   .user-connect__descr{
//     font-size: 18px;
//     line-height: 24px;
//   }

//   .settings .btn--back{
//     transform: translateY(-5px);
//   }

//   // User
// }

// @media (max-width: 650px){
//   // Global

//   .header__search-wrapper{
//     display: none;
//   }

//   .header__menu{
//     .header__search-wrapper{
//       display: block;
//       margin-bottom: 15px;
//       max-width: unset;
//     }
//   }

//   .header--connected .header__search-wrapper{
//     margin: 20px 20px 15px 20px;
//   }

//   // Global

//   // Index

//   .cover{
//     padding-top: 20px;
//   }

//   .cover__inner{
//     flex-direction: column;
//     max-height: unset;
//   }

//   .cover__title{
//     font-size: 36px;
//     line-height: 43px;
//   }

//   .cover__imgwrapper{
//     max-height: 320px;
//     max-width: 320px;
//     transform: translateX(65px);
//   }

//   .cover__info{
//     margin: 20px 0;
//     text-align: center;
//   }

//   .live__inner{
//     flex-direction: column;
//     align-items: center;
//   }

//   .live__items{
//     margin-left: 20px;
//     margin-right: 20px;
//     .art:nth-child(4){
//       margin-right: 0;
//     }
//   }

//   .live__label{
//     margin-bottom: 20px;
//     margin-left: 0;
//   }

//   // Index 

//   // Product

//   .product-info__name{
//     font-size: 38px;
//     line-height: 45px;
//     margin-bottom: 18px;
//   }

//   .product-info__descr{
//     font-size: 20px;
//     line-height: 24px;
//     margin-bottom: 16px;
//   }

//   .product-info__subtitle,
//   .auction__time,
//   .product-info__cost{
//     font-size: 20px;
//     line-height: 24px;
//   }

//   .product-info__subtitle{
//     margin-bottom: 5px;
//   }

//   .auction__numb,
//   .product-info__bid{
//     font-size: 23px;
//     line-height: 27px;
//     margin-bottom: 2px;
//   }
  
//   .product-info__content{
//     padding-top: 20px;
//   }

//   .dots{
//     top: -3px;
//   }

//   .panel__inner{
//     padding: 20px;
//   }

//   .panel__title{
//     font-size: 20px;
//     line-height: 24px;
//     margin-bottom: 20px;
//   }

//   // Product
// }

// @media (max-width: 600px){
//   // Cataloge

//   .cataloge__wrapper:not(.cataloge__wrapper--more),
//   .cataloge__wrapper--more{
//     .cataloge__inner{
//       .cataloge__rows{
//         grid-template-columns: repeat(2, 1fr);
//         // Fix cards pads
//         .art{
//           &:before{
//             left: 0;
//           }
//           &:nth-child(1n + 1),
//           &:nth-child(1n){
//             &:before{
//               left: -0px;
//               width: calc(100% + 48px);
//             }
//           }
//           &:nth-child(2n){
//             &:before{
//               left: -6px;
//               width: calc(100% + 30px);
//             }
//           }
//           &:nth-child(2n + 1){
//             &:before{
//               left: -24px;
//               width: calc(100% + 80px);
//             }
//           }
//         }
//         // Fix cards pads
//       }
//     }
//   }

//   // Cataloge

//   // User

//   .user-connect{
//     margin: 5px 0 40px;
//   }

//   .user-connect__inner{
//     padding: 40px 20px;
//   }

//   .user-connect .btn{
//     height: 60px;
//   }

//   .user-connect__imgwrapper{
//     top: 65%;
//   }

//   .user-connect__graphic{
//     width: 180px;
//     height: 180px;
//   }

//   // User
// }

// @media (max-width: 630px){
//   // Create

//   .create__items{
//     flex-direction: column;
//     align-items: center;
//   }
  
//   .create__item{
//     width: 100%;
//     &:first-child{
//       margin-right: 0;
//     }
//     &:last-child{
//       margin-top: 0;
//     }
//     & + &{
//       margin-top: 20px;
//     }
//   }

//   // Create
// }

// @media (max-width: 570px){
//   // Index
  
//   .cover__title{
//     font-size: 30px;
//     line-height: 36px;
//   }
  
//   .live__items{
//     .art:nth-child(2){
//       margin-right: 0;
//     }
//     .art:nth-child(3){
//       display: none;
//     }
//   }

//   .row{
//     .splide__slide{
//       display: flex;
//       justify-content: center;
//       .row__slide{
//         min-width: 250px;
//         width: 70%;
//       }
//     }
//   }
  
//   // Index

//   // Cataloge

//   .filters{
//     top: 70px;
//   }

//   // Cataloge

//   // Create

//   .box-loot__items{
//     grid-template-columns: repeat(2, 1fr);
//   }

//   .box-loot__descr{
//     font-size: 14px;
//     line-height: 17px;
//     padding-left: 18px;
//     &:before{
//       left: 7px;
//       top: 6px;
//       transform: unset;
//     }
//   }

//   // Create
  
//   // Global

//   .header,
//   .header-gap,
//   .header__inner{
//     height: 70px;
//   }

//   .header__menu{
//     top: 70px;
//     height: calc(100vh - 70px);
//     width: 100vw;
//     transform: translateX(100vw);
//     &--active{
//       transform: unset;
//     }
//   }

//   // Global

//   // Product

//   .product-info__content{
//     align-items: flex-start;
//     text-align: left;
//   }
//   .product-info__middle{
//     margin-bottom: 25px;
//     flex-direction: column;
//   }
//   .auction{
//     margin-left: 0;
//     margin-top: 10px;
//   }
//   .product-info__buttons{
//     flex-wrap: wrap;
//     gap: 15px;
//     .btn{
//       width: 120px;
//       font-size: 20px;
//       line-height: 24px;
//     }
//     .btn + .btn{
//       margin-left: 0;
//     }
//   }
//   .product-info__name,
//   .product-info__descr{
//     max-width: unset;
//   }
//   .open__inner{
//     padding-bottom: 30px;
//   }
//   .panel{
//     .panel__items{
//       .art:nth-child(n + 4){
//         display: none;
//       }
//     }
//     &--more{
//       .panel__items{
//         .art:nth-child(n + 3){
//           display: flex;
//         }
//       }
//     }
//   }

//   // Product

//   // User

//   .user-connect__title{
//     margin-bottom: 17px;
//   }

//   .user-connect__descr{
//     margin-bottom: 30px;
//   }

//   .user-loot__items{
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     .row__slide{
//       max-width: 320px;
//     }
//   }

//   .user-cover__profile{
//     max-height: unset;
//   }

//   .settings__title{
//     font-size: 30px;
//     line-height: 36px;
//   }

//   .settings__descr{
//     font-size: 18px;
//     line-height: 21px;
//   }

//   .settings__inner{
//     padding: 20px;
//   }

//   .settings-upload__items .upload:last-child{
//     margin-left: 15px;
//   }

//   // User
// }

// @media (max-width: 525px){
//   // Product

//   .panel__title{
//     font-size: 18px;
//     line-height: 21px;
//   }
//   .panel__items{
//     grid-template-columns: repeat(2, 1fr);
//   }

//   // Product

//   // User

//   .user-cover__profile{
//     flex-direction: column;
//     align-items: center;
//     .copy{
//       margin-bottom: 0;
//       margin-right: 15px;
//     }
//   }

//   .user-cover__profile-edit{
//     margin-top: 15px;
//     flex-direction: row;
//     align-items: center;
//   }

//   .user-cover__profile-loot{
//     margin-right: 0;
//   }

//   .user-cover__change{
//     font-size: 12px;
//     line-height: 15px;
//     height: 35px;
//     padding: 0 18px;
//   }

//   .user-nots{
//     margin-bottom: 20px;
//   }

//   .user-connect__graphic{
//     width: 150px;
//     height: 150px;
//   }

//   .user-cover .copy{
//     &__label{
//       top: -15px;
//     }
//   }

//   // User
// }

// @media (max-width: 450px){
//   // Index
  
//   .fire{
//     .row__title{
//       padding-left: 40px;
//     }
//     .row__title:after{
//       right: unset;
//       left: 0;
//     }
//   }

//   // Index

//   // Cataloge

//   .cataloge__current-filters{
//     gap: 10px 13px;
//   }

//   // Cataloge

//   // User

//   .user-connect__inner{
//     padding: 40px 20px 70px;
//   }

//   .user-connect__imgwrapper{
//     top: 72%;
//   }

//   // User
// }

// @media (max-width: 425px){
//   // Product

//   .product-info__buttons{
//     .btn{
//       width: 110px;
//     }
//   }
//   .open{
//     .btn{
//       padding-left: 0;
//       padding-right: 0;
//       width: 100%;
//     }
//   }
//   .open__title{
//     font-size: 20px;
//     line-height: 24px;
//   }

//   // Product

//   // Create

//   .choose__text{
//     padding: 7px 10px;
//   }

//   .create-modal .choose{
//     padding: 5px 6px;
//   }

//   .create-modal .choose__text{
//     font-size: 13px;
//     line-height: 16px;
//   }

//   .create-modal__info .label{
//     font-size: 16px;
//     line-height: 19px;
//   }

//   .create-modal__info-fee .create-modal__text,
//   .create-modal__info-classification .create-modal__text{
//     font-size: 14px;
//     line-height: 17px;
//     margin-top: 6px;
//   }

//   .create-modal__info .label .input{
//     margin-top: 5px;
//     font-size: 14px;
//     line-height: 17px;
//     &::placeholder{
//       font-size: 14px;
//       line-height: 17px;
//     }
//   }

//   .create-modal__info-inputs .label + .label{
//     margin-top: 17px;
//   }

//   .create-modal__info-inputs,
//   .create-modal__info-fee,
//   .create-modal .choose{
//     margin-bottom: 17px;
//   }

//   .create-modal .multiselect{
//     top: 25px;
//   }

//   .box-loot__items{
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     .art{
//       max-width: 260px;
//     }
//     .box-loot__add{
//       height: 311px;
//       min-width: 260px;
//       max-width: 260px;
//     }
//   }

//   // Create
// }

// @media (max-width: 400px){
//   // Cataloge

//   .cataloge__wrapper:not(.cataloge__wrapper--more),
//   .cataloge__wrapper--more{
//     .cataloge__inner{
//       .cataloge__rows{
//         margin: 0;
//         margin-top: 25px;
//         row-gap: 22px;
//         grid-template-columns: 1fr;

//         // Fix cards pads
//         .art{
//           &:before{
//             display: none;
//           }
//         }
//         // Fix cards pads
//       }
//     }
//   }

//   // Cataloge

//   // User

//   .user-connect{
//     .btn{
//       padding-left: 22px;
//       padding-right: 22px;
//     }
//   }

//   .user-cover__inner{
//     text-align: center;
//     &:after{
//       display: none;
//     }
//   }
  
//   .user-cover__profile{
//     padding: 15px 20px 13px;
//     border-radius: 25px;
//     width: 100%;
//     .profile--cover{
//       position: static;
//       .profile__imgwrapper{
//         padding: 0;
//       }
//     }
//   }

//   .user-info{
//     text-align: center;
//     margin: 25px 0 43px;
//   }

//   .user-cover__profile-edit{
//     flex-direction: column;
//     .copy{
//       margin-right: 0;
//       margin-bottom: 15px;
//     }
//   }

//   .user-cover .copy{
//     margin-top: 7px;
//     &__label{
//       top: -13px;
//     }
//   }

//   .settings__title{
//     font-size: 24px;
//     line-height: 28px;
//   }

//   .settings__descr{
//     font-size: 16px;
//     line-height: 19px;
//     margin-bottom: 20px;
//   }

//   .settings .btn--back{
//     font-size: 14px;
//     line-height: 17px;
//   }

//   .settings__inner{
//     padding: 30px 20px 20px;
//   }
  
//   .settings .btn--back {
//     transform: translateY(-11px);
//   }

//   .settings{
//     .settings__list-label,
//     .label-text{
//       font-size: 16px;
//       line-height: 19px;
//     }
//     .input{
//       height: 35px;
//       font-size: 14px;
//       line-height: 17px;
//       &::placeholder{
//         font-size: 14px;
//         line-height: 17px;
//       }
//     }
//     .textarea{
//       height: unset;
//     }
//   }

//   .settings__list-logo{
//     height: 40px;
//     width: 40px;
//   }
//   .settings__list--info .input{
//     padding-left: 54px;
//   }

//   // User

//   // Create

//   .create-modal__preview{
//     .row__slide-imgwrapper{
//       min-height: 200px;
//     }
//   }

//   // Create
// }


// @media (max-width: 380px){
//   // Index

//   .cover__desc{
//     font-size: 15px;
//     line-height: 19px;
//   }

//   .cover__title{
//     font-size: 24px;
//     line-height: 30px;
//     margin-bottom: 20px;
//   }

//   .cover__imgwrapper{
//     transform: translateX(45px);
//   }

//   .live__label{
//     margin-bottom: 25px;
//   }

//   .live__items{
//     flex-direction: column;
//     .art{
//       margin-right: 0;
//     }
//     .art + .art{
//       margin-top: 15px;
//     }
//   }

//   // Index

//   // Global

//   .footer__navigation-item,
//   .footer__descr{
//     font-size: 14px;
//     line-height: 17px;
//   }
//   .footer__news-title,
//   .footer__navigation-title{
//     font-size: 16px;
//     line-height: 19px;
//   }

//   // Global

//   // Product

//   .panel__items{
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     .art{
//       max-width: 210px;
//       width: 100%;
//     }
//   }
//   // Product

//   // Create

//   .create-modal__preview{
//     .row__slide-imgwrapper{
//       min-height: unset;
//       max-height: 220px;
//     }
//   }

//   // Create

//   // User

//   .settings__buttonwrapper{
//     display: inline-flex;
//     flex-direction: column;
//     justify-content: center;
//     .btn + .btn{
//       margin-left: 0;
//       margin-top: 20px;
//     }
//   }

//   // User
// }

// @media (min-width: 900px){
//   .header__menu{
//     display: none;
//   }
// }